body {
  margin: 0;
}

.header {
  height: 80px;
  background-color: #ff9f26;
}

.footer {
  height: 280px;
  background-color: #3cd5ff;
}

.content {
  height: 624px;
}

.sticky {
  position: sticky;
  bottom: 0;
  padding: 20px;
  background-color: greenyellow;
}
