<!-- footer -->
<table width="100%" cellpadding="0" cellspacing="0">
  <tr>
    <td
      align="center"
      width="100%"
      style="
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 20px;
      "
    >
      <!-- 第一行盒子 -->
      <table
        class="es-footer-body"
        width="100%"
        border="0"
        cellpadding="0"
        cellspacing="0"
        style="width: 600px"
      >
        <!-- 第1行 -->
        <tr>
          <td align="left" style="padding: 0; margin: 0">
            <table cellspacing="0" cellpadding="0" align="center">
              <tr>
                <td align="center">
                  <a
                    target="_blank"
                    href="https://discord.gg/wXtj2UuedP"
                    style="padding-right: 4px"
                    ><img
                      title="Discord"
                      src="https://storageapi.fleek.co/e193aa55-4163-4feb-8aef-60338f66c655-bucket/metajam/avatar-7d15c4caeacab379c9daf7877ccfbd7a.png"
                      alt="discord"
                      width="25"
                  /></a>
                </td>
                <td align="center">
                  <a
                    target="_blank"
                    href="https://twitter.com/MetaJamStudio"
                    style="padding-left: 4px"
                    ><img
                      title="Twitter"
                      src="https://storageapi.fleek.co/e193aa55-4163-4feb-8aef-60338f66c655-bucket/metajam/avatar-f2fead0bc61afefa779472e8d0b3bee3.png"
                      alt="twitter"
                      width="25"
                  /></a>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <!-- 第2行 -->
        <tr>
          <td align="left" style="padding: 0; margin: 0">
            <table cellspacing="0" cellpadding="0" align="center">
              <tr>
                <td align="center">
                  <p
                    style="
                      margin: 0;
                      font-size: 12px;
                      line-height: 22px;
                      font-weight: 400;
                      color: rgba(51, 51, 51, 0.5);
                    "
                  >
                    Web3 University
                  </p>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <!-- 第3行 -->
        <tr>
          <td align="left" style="padding: 0; margin: 0">
            <table cellspacing="0" cellpadding="0" align="center">
              <tr>
                <td align="center">
                  <p
                    style="
                      margin: 0;
                      margin-bottom: 10px;
                      -webkit-text-size-adjust: none;
                      -ms-text-size-adjust: none;
                      mso-line-height-rule: exactly;
                      font-weight: 400;
                      line-height: 22px;
                      color: rgba(51, 51, 51, 0.5);
                      font-size: 12px;
                    "
                  >
                    121 2nd St, San Francisco, CA 94105
                  </p>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <!-- 第4行 -->
        <tr>
          <td align="left" style="padding: 0; margin: 0">
            <table cellspacing="0" cellpadding="0" align="center">
              <tr>
                <td align="center">
                  <p
                    style="
                      margin: 0;
                      margin-bottom: 10px;
                      -webkit-text-size-adjust: none;
                      -ms-text-size-adjust: none;
                      mso-line-height-rule: exactly;
                      font-weight: 400;
                      line-height: 16px;
                      color: rgba(51, 51, 51, 0.5);
                      font-size: 12px;
                    "
                  >
                    Copyright © 2022
                  </p>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <!-- 第5行 -->
        <tr>
          <td align="left" style="padding: 0; margin: 0">
            <table cellspacing="0" cellpadding="0" align="center">
              <tr>
                <td
                  align="center"
                  valign="top"
                  style="color: #515759; font-weight: 400; font-size: 12px"
                >
                  <a
                    target="_blank"
                    href="https://www.metajam.studio/"
                    style="
                      color: #515759;
                      text-decoration: none;
                      height: 16px;
                      line-height: 16px;
                    "
                    >About</a
                  >
                  <a
                    style="
                      padding-left: 2px;
                      padding-right: 2px;
                      height: 16px;
                      line-height: 16px;
                      display: inline-block;
                    "
                    >ǀ</a
                  >
                  <a
                    target="_blank"
                    href="https://mirror.xyz/m7e.eth"
                    style="color: #515759; text-decoration: none"
                    >Blog</a
                  >
                  <a
                    style="
                      padding-left: 2px;
                      padding-right: 2px;
                      height: 16px;
                      line-height: 16px;
                      display: inline-block;
                    "
                    >ǀ</a
                  >
                  <a
                    target="_blank"
                    href="mailto:contact@metajam.studio"
                    style="color: #515759; text-decoration: none"
                    >Contact Us</a
                  >
                  <a
                    style="
                      padding-left: 2px;
                      padding-right: 2px;
                      height: 16px;
                      line-height: 16px;
                      display: inline-block;
                    "
                    >ǀ</a
                  >
                  <a
                    target="_blank"
                    href="https://daox.notion.site/Job-Board-Open-Positions-c7ef14fc84594b9f812e82c7552c3a1b"
                    style="color: #515759; text-decoration: none"
                    >Join Us</a
                  >
                  <a
                    style="
                      padding-left: 2px;
                      padding-right: 2px;
                      height: 16px;
                      line-height: 16px;
                      display: inline-block;
                    "
                    >ǀ</a
                  >
                  <a
                    target="_blank"
                    href="https://"
                    style="color: #515759; text-decoration: none"
                    >Unsubscribe</a
                  >
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
