<!-- 最外层 第五行 -->
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td
      align="center"
      width="100%"
      style="
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 22px;
        padding-bottom: 22px;
      "
    >
      <!-- 第二行盒子 -->
      <table
        class="es-content-body"
        width="100%"
        border="0"
        cellpadding="0"
        cellspacing="0"
        style="width: 600px"
      >
        <tr>
          <td
            class="no-pd-left-right"
            align="left"
            style="padding: 0; margin: 0; padding-left: 80px; padding-top: 36px"
          >
            <!-- 行 -->
            <% for (item of list) { %>
            <!-- type1 -->
            <% if (item.type === '1') { %> <%- include('msgType1', { item:
            item});-%> <% } %> <% } %>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
